.white-bg{
    background-color: var(--white-color);
    color: var(--primary-color);
}

.main-bg{
    background-image: url('../img/dragon-scales.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section{
    min-height: calc(100vh - 94px);
}

.menu-spacing{
    height: 65px;
}

body .full-widht{
    width: 100%;
    flex: 1 1 100%;

}